.bg-dark{
    background-color: #565656;
}

.text-white{
    color:whitesmoke
}

.text-bold{
    font-weight: bold!important;
}

.custom-image{
    border-radius: 20px;
    padding:10px;
    width: calc(100% - 20px);
}

.custon-buttons button, .custon-buttons div{
   color: seashell;
   border-color: seashell;
}

.shoppping-cart {
    
    top: 0px;
    right: 10px;
    position: fixed!important;

}